/* Príncipal */

* {

    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html, body {

    height: 100%;
    margin: 0;
    
}

body {

    background-color: black;
    display: flex;
    flex-direction: column;

}

main {

    flex-grow: 1;

}


/* opçoes de links */


header {

    background-color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    height: auto;
    width: auto;
    box-shadow: rgba(255, 221, 149, 0.596) 0px 4px 2px -2px;

}

header ul {

    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 15px;
 
}

header ul a {

    text-decoration: none;
    color: goldenrod;
    font-size: 20px;

}

header figure img {

    width: 70px;
    height: auto;
    display: flex;

}

/* Imagem Dr. Victor */

#doutor {

    display: flex;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 75%;
    justify-content: space-between;
    align-items: flex-start;

}

#doutor img {

    display: block;
    object-fit: cover;
    max-width: 100%;
    width: 50%;
    height: 100%;
    box-sizing: border-box;

}

#doutor article {

    display: flex;
    flex-direction: column; 
    width: 50%; 
    height: 100%;
    box-sizing: border-box;

}

#doutor h3 {

    width: 100%;
    height: 50%;
    margin-left: 30px;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: end;

}

#doutor h4 {

    width: 100%;
    height: 50%;
    margin-left: 30px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: normal;
    display: flex;
    justify-content: center; 
    align-items: start;
    color: rgb(255, 235, 120);

}

/* Mini Intro da Clínica */


#introducao {

    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    color:black;

}

#intro-info {

    padding: 20px;
    font-size: 20px;
    text-align: justify;
    width: 100%;
    height: auto;
    background:linear-gradient(rgb(255, 235, 120), rgb(168, 137, 24));
}


/* Footer */

footer {

    background-color: rgb(0, 0, 0);
    color: goldenrod;
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 50px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: rgba(255, 221, 149, 0.596) 0px -4px 2px -2px;
    
}


/* Página Sobre Nós*/


.sobre {

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;

}

.sobre section {

    margin: 30px;
    padding: 10px;
    width: 94%;
    border-radius: 5px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(255, 221, 149, 0.596) 0px 4px 2px -2px;

}

.sobre h3 {

    background:linear-gradient(rgb(255, 235, 120), rgb(168, 137, 24));
    box-shadow: rgba(255, 221, 149, 0.596) 0px 4px 2px -2px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    align-self: flex-start;
    align-content: center;
    margin-left: auto;
    font-size: 30px;
    margin-right: 40px;

}

.sobreText {

    margin-bottom: 20px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    background:linear-gradient(rgb(255, 235, 120), rgb(168, 137, 24));
    display: flex;
    align-items: center;
    text-align: left;
    width: 60%;
    max-width: 60%;

}

.sobreImg {

    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    margin: 20px 0;
    border-radius: 10px;
    border-style: double;
    border-color: goldenrod;

}

.sobreImg img {

    max-width: 100%; 
    height: auto;
    display: block;

}

/* Página Contato */

.contato {

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;

}

.contato section {

    display: flex;
    flex-direction: column;

}

.contato section article {

    margin: 30px;
    padding: 10px;
    background:linear-gradient(rgb(255, 235, 120), rgb(168, 137, 24));
    border-radius: 5px;
    text-align: justify;
    font-size: 15px;
    display: flex;

}

.contato article img {

    width: 50px;
    height: auto;
    margin-right: 20px;

}

.contato article a {
    
    display: flex;
    margin-left: auto;

}

.contato article h6 {

    font-size: 20px;
    margin-top: 14px;
    margin-right: 10px;

}

.contato article p {

    font-size: 17px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

}

/* Página Serviços */

.procedimentos {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.procedimentos section {

    margin: 30px;
    text-align: justify;

}

.procedimentos article {

    padding: 10px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    gap: 20px;
    
}

.procedimentos article header {

    margin-bottom: 10px;
    font-size: 30px;
    background-color: transparent;
    background:linear-gradient(rgb(255, 235, 120), rgb(168, 137, 24));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;

}

.procedimentos article img {

    display: block;
    margin: 0 auto;
    width: auto;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}

.procedimentos article p {

    font-size: 18px;
    padding: 10px;
    background:linear-gradient(rgb(255, 235, 120), rgb(168, 137, 24));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;

}

/* Página Diferenciais */

.resultados {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: black

}

.resultados section {

    width: 45%;
    padding: 15px;
    box-sizing: border-box;

}

.resultados article {
    
    padding: 20px;
    background:linear-gradient(rgb(255, 235, 120), rgb(168, 137, 24));
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    gap: 20px;
    color: black;
    
}

.resultados article header {

    box-shadow: none;

}


.resultados article p {

    font-size: 18px;
    padding: 10px;

}

/* Carrossel */

.resultados main {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    color: black;

}

#carrossel {

    margin: 30px;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;

}

#carros {

    max-width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    border-style: double;
    border-color: goldenrod;

}


/* Configuração P/ Tablets */

@media (min-width: 671px) and (max-width: 1024px) {

    body, .contato, .procedimentos, .sobre, .resultados {

        overflow-x: hidden;

    }

    /* Nav Geral */

    header ul, .resultados header ul, .procedimentos header ul, .contato header ul, .sobre header ul {

        margin-top: 31.25px;

    }

    header ul a, .resultados header ul a, .procedimentos header ul a, .contato header ul a, .sobre header ul a {

        font-size: 25px;

    }

    header figure img, .resultados header figure img, .procedimentos header figure img, .contato header figure img, .sobre header figure img {

        width: 87.5px;

    }

    /* Títulos */

    .resultados article h3{

        font-size: 30px;

    }

    .sobre h3 {

        font-size: 35px;

    }

    .procedimentos article h3 {

        font-size: 40px;

    }

    #intro-info h4 {

        font-size: 25px;

    }

    .resultados article h4 {

        font-size: 40px;

    }

    .contato article h6 {

        font-size: 25px;
        margin-top: 20px;

    }

    /* Fontes */

    #intro-info p, .sobre section p, .contato section article p, .procedimentos article p, .resultados article p {

        font-size: 25px;

    }

    footer {

        font-size: 18px;

    }

    .contato article p {

        margin-top: auto;

    }

    /* Imagens */

    .procedimentos article img {

        height: auto;
        max-width: 100%;
        flex-shrink: 0;

    }

    #transcap {

        height: 500px;

    }

    .sobreImg img {

        width: auto;
        height: 400px;
        
    }

    #carros {

        height: 500px;

    }

    .contato article img {

        width: 70px;

    }

    /* Footer */

    body {

        padding-bottom: 320px;

    }


    Footer {

        gap: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;

    }

}

/* Configuração P/ Mobile */

@media (max-width: 670px) {

    body, .index, .contato, .procedimentos, .sobre, .resultados {

        overflow-x: hidden;

    }

    /* Nav Geral */

    header ul, .resultados header ul, .procedimentos header ul, .contato header ul, .sobre header ul {

        margin-top: 15px;

    }

    header ul li, .resultados header ul li, .procedimentos header ul li, .contato header ul li, .sobre header ul li {

        background:linear-gradient(rgb(255, 255, 255), rgb(255, 234, 115));
        padding: 7px;
        border-radius: 30px;

    }

    header ul a, .resultados header ul a, .procedimentos header ul a, .contato header ul a, .sobre header ul a {

        font-size: 14px;
        color: black;

    }

    header figure img, .resultados header figure img, .procedimentos header figure img, .contato header figure img, .sobre header figure img {

        width: 60px;

    }

    /* Footer */

    footer {

        font-size: 12px;
        gap: 10px;

    }


    /* Página Inicial */

    .index {

        width: 100%;

    }

    #doutor {

        align-items: flex-end;
        height: 68%;

    }

    #doutor img {

        width: 50%;
        height: 100%;
        display: block;
    
    }

    #doutor article {

        width: 40%;

    }

    #doutor h3 {

        font-size: 25px;
        margin-left: 30px;

    }

    #doutor h4 {

        font-size: 19px;
        margin-left: 10px;

    }

    #introducao {

        margin-top: 0px;
        padding-bottom: 50px

    }

    #intro-info {

        font-size: 18px;
        padding: 10px;

    }

    .index footer {

        position: fixed;
        bottom: 0;
        z-index: 1000;
        width: 96%;

    }

    /* Sobre */

    .sobre section {

        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 88%;

    }

    .sobre h3 {

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 40px;

    }

    .sobreText {

        width: 90%;
        max-width: 90%;
        margin-right: 0px;
        font-size: 30px;

    }

    /* Serviços */

    .procedimentos article img {

        height: 250px;
        width: auto;
        flex-shrink: 0;

    }

    #transcap {

        height: 500px;

    }

    .procedimentos article header {

        align-content: center;
        text-align: center;
        width: 98%;

    }

    .procedimentos article h3 {

        font-size: 45px;

    }

    .procedimentos article p {

        font-size: 30px;
        text-align: left;

    }

    /* Diferenciais */

    .resultados main {

        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .resultados section {

        width: 90%;

    }

    .resultados article h4 {

        font-size: 40px;

    }

    .resultados article p {

        font-size: 30px;

    }

    #carrossel {

        width: 90%;

    }

    #carros {

        height: 500px;
        width: auto;
        max-width: 100%;

    }

    /* Contato */

    .contato section article {

        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 100px;

    }

    .contato article img {

        width: 150px;
        padding-left: 15px;

    }

    .contato article a {

        justify-content: center;
        margin-left: 0px;

    }

    .contato article a img {

        width: 100px;
        margin-top: 10px;

    }

    .contato article h6 {

        font-size: 40px;
        margin-top: 20px;

    }

    .contato article p {

        font-size: 30px;
        margin-top: auto;
        margin-left: 0xp;

    }

}